{% extends 'front/index.html.twig' %}

{% block content %}
    <br>
    <div class="row" style="margin-inline: 200px">
        Hello {{ app.user.firstname }}
        <br>
        <br>
        {{ dump(app.user) }}
    </div>
{% endblock %}
