{% block body %}
    <h1 style="text-align: center; color:rgba(36, 99, 85, 0.836);">Liste des réclamations</h1>
    <br>
    <table class="table table-bordered"
    style="background-color: #f5f5f591; font-size:17px; margin: auto;">
        <thead>
            <tr>
                <th style="padding: 10px; border: 1px solid #000;">Objet</th>
                <th style="padding: 10px; border: 1px solid #000;">Message</th>
            </tr>
        </thead>
        <tbody>
            {% for reclamation in reclamations %}
                <tr>
                    <td style="padding: 10px; border: 1px solid #000;">{{ reclamation.objet }}</td>
                    <td style="padding: 10px; border: 1px solid #000;">{{ reclamation.message }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
