{% extends 'produits/index.html.twig' %}

{% block title %}Ajouter un Produit{% endblock %}

{% block content %}
    <h1>Ajouter un Produit</h1>

    {{ include('produits/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('produits_index') }}">Retour à la liste</a>
{% endblock %}
