{{ form_start(form) }}
    {{ form_row(form.nomCategories) }}
    {{ form_row(form.descriptionCategories) }}
    <button type="submit" class="btn btn-primary">Enregistrer</button>
{{ form_end(form) }}
