{% extends 'categories/index.html.twig' %}

{% block title %}Modifier Catégorie{% endblock %}

{% block content %}
    <h1>Modifier Catégorie</h1>

    {{ include('categories/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('categories_index') }}">Retour à la liste</a>
{% endblock %}
