<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nouvelle réclamation</title>
</head>
<body>
    <h1>Nouvelle réclamation</h1>
    <p>Une nouvelle réclamation a été soumise :</p>
    
    <p><strong>Message :</strong> {{ reclamation.message }}</p>
</body>
</html>